{% extends "templates/base.jinja2" %}
{% block content %}
    <p>{{ form.errors }}</p>
    <p>{{ request }}</p>

    {% if story %}
        Created: {{ story.title }}
    {% endif %}

    <form method='POST'>
        {{ renderer.csrf_token() }}
        <h1>Create new Story</h1>
        <ul>
            {{ renderer.errors }}
            <li>Title: {{ renderer.text('title', size=20) }}</li>
        </ul>
        {{ renderer.submit("submit", "Create") }}
    </form>
{% endblock %}
