{% extends "templates/base.jinja2" %}
{% block content %}
    <form>
        <h1>Create new Story</h1>
        <ul>
            <li>Title: <input name='title' /></li>
            <li>Estimated: <input name='estimated'/></li>
            <li><input type="submit" value="Create"/></li>
        </ul>
    </form>
{% endblock %}
