{% extends "templates/base.jinja2" %}
{% block content %}
    {% if story %}
        <table border="0">
            <tr><td align='right'>ID: </td> <td>{{ story.id }}</td></tr>
            <tr><td align='right'>Title: </td> <td>{{ story.title }}</td></tr>
            <tr><td align='right'>Estimated: </td> <td>{{ story.estimated }}</td></tr>
            <tr><td align='right'>Created: </td> <td>{{ story.created }}</td></tr>
            <tr><td align='right'>Created by: </td> <td>{{ story.created_by }}</td></tr>
        </table>
    {% else %}
        Story with id="{{ story_id }}" does not exist, but you can <a href="/new/story">create a new story</a>.
    {% endif %}
{% endblock %}
