{% extends "templates/base.jinja2" %}
{% block content %}
    <ul>
        {% if story %}
        <li>{{ story.id }}</li>
        <li>{{ story.title }}</li>
        <li>{{ story.estimated_string }}</li>
        <li>{{ story.created }}</li>
        <li>{{ story.created_by_id }}</li>
        {% else %}
        Story with id="{{ story_id }}" does not exist, but you can <a href="/new/story">create a new story</a>.
        {% endif %}
    </ul>
{% endblock %}
